{{define "header"}}
<div>
    <h3>Links:</h3>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/add">New Post</a></li>
    </ul>
</div>
{{end}}