{{define "title"}}
    New Posts
{{end}}

{{define "content"}}
<div>
    <form action="/post/new" method="POST" enctype="multipart/form-data">
        <h4>Title</h4>
        <input type="text" name="title">
        <h4>Content</h4>
        <input type="text" name="content">
        <input type="file" name="postImage">

        <button type="submit">Submit</button>
    </form>
<div>
{{end}}    

