{{define "header"}}
<div>
    <h3>Links:</h3>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/post/all">Posts</a></li>
        <li><a href="/post/new">New Post</a></li>
    </ul>
</div>
{{end}}