{{define "title"}}
All Posts
{{end}}

{{define "content"}}
<div>
    {{$length := len .}}
    {{if eq $length 0}}
        <h3>The store is empty</h3>
    {{else}}
        <h3>Here are all the posts</h3>
        <ul>
        {{range .}}
            <li>
            <a href="/post/{{.ID}}"><h4>Title - {{.Title}}</h4></a>
            <p>At: {{.CreatedAt.Format "02 Jan 06"}}</p>
            </li>
        {{end}}
        </ul>
    {{end}}
</div>
{{end}}