{{template "header"}}
    <ul>
    {{range .}}
        <li>
        <h4>Title - {{.Title}}</h4>
        <p>At: {{.CreatedAt.Format "02 Jan 06"}}</p>
        </li>
    {{end}}
    </ul>
{{template "footer"}}
