{{template "header" "All"}}
    <ul>
    {{range .}}
        <li>
        <a href="/post/{{.ID}}"><h4>Title - {{.Title}}</h4></a>
        <p>At: {{.CreatedAt.Format "02 Jan 06"}}</p>
        </li>
    {{end}}
    </ul>
{{template "footer"}}
