<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h3>{{.Title}}</h3>
    <p>{{.Content}}</p>
    <h6>{{.CreatedAt.Format "02 Jan 2006, 15.04"}}</h6>
</body>
</html>