{{define "title"}}
    Edit
{{end}}

{{define "content"}}
<div>
    <h1>Finally editing post {{.Title}}</h1>
    <form action="/post/{{.ID}}/update" method="post">
        <h4>Title</h4>
        <input type="text" name="title" value="{{.Title}}">
        <h4>Content</h4>
        <input type="text" name="content" value="{{.Content}}">
        {{if .Picture}}
            <img src="/bucket/{{.Picture}}"/>
        {{end}}

        <button type="submit">Submit</button>
    </form>
<div>
{{end}}