{{define "title"}}
    New Posts
{{end}}

{{define "content"}}
<div>
    <form action="/post/new" method="POST">
        <h4>Title</h4>
        <input type="text" name="title">
        <h4>Content</h4>
        <input type="text" name="content">

        <button type="submit">Submit</button>
    </form>
<div>
{{end}}    

