{{define "title"}}
    Add Image
{{end}}

{{define "content"}}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="postImage">
        <input type="submit">
    </form>
{{end}}